<div id="<%= dom_id test %>">
  <p>
    <strong>First name:</strong>
    <%= test.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= test.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= test.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= test.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= test.address %>
  </p>

</div>
